/* -------------------------------- */
/* HOW IT WORKS */
/* -------------------------------- */

.section-about {
  background-color: #f4f4f4;
}

.img-box {
  padding: 0 3%;
  margin-top: 30px;
}

.img-wrapper {
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  padding-bottom:100%;
}

.img-circle {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.steps-box-about {
  padding-right: 0 3%;
  margin-top: 30px;
}

.works-step {
  margin-bottom: 50px;
}

.works-step:last-of-type {
  margin-bottom: 80px;
}

.works-step div {
  color: #2980b9;
  border: 2px solid #2980b9;
  display: inline-block;
  border-radius: 50%;
  height: 55px;
  width: 55px;
  text-align: center;
  padding: 5px;
  float: left;
  font-size: 150%;
  margin-right: 25px;
}
