/* -------------------------------- */
/* FORM */
/* -------------------------------- */

.section-form {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url('../images/contact-bg.jpg');
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../images/contact-bg2.jpg');
  background-size: cover;
  background-position: center;
  height: auto;
  background-attachment: fixed;
  color: #fff;
}

.contact-info {
  margin: 0 auto;
}

.contact-info p {
  padding-bottom: 30px;
}

.contact-form {
  margin: 0 auto;
}

input[type=text],
input[type=email], 
select, 
textarea {
  width: 100%;
  padding: 7px;
  border-radius: 3px;
  border: 1px solid #ccc;
  font-family: inherit;
  font-weight: inherit;
}

option {
  font-weight: inherit;
}

textarea {
  height: 100px;
}

input[type=checkbox] {
  margin: 10px 5px 10px 0
}

*:focus {
  outline: none;
}

.text-danger {
  color: #b94a48;
  margin-top: 5px;
}

.text-success {
  color: #468847;
}

@media only screen and (max-width: 767px) {
  .section-form {
    background-attachment: scroll;
  }
}