/* -------------------------------- */
/* HEADER */
/* -------------------------------- */

header {
  /* background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url('../images/header-bg2.jpg');
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../images/header-bg2.jpg'); */

  /* background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  background-attachment: fixed;  */
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../images/header-bg2.jpg') no-repeat center center; 
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
}

.hero-text-box {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.logo {
  height: 50px;
  width: auto;
  float: left;
  margin-top: 40px;
}

.logo-black { 
  display: none; 
  height: 50px;
  width: auto;
  float: left;
  margin: 5px 0;
}

/* Main navi */
.main-nav { 
  float: right;
  list-style: none;
  background-color: #333;
  color: #fff;
  padding-top: 50px;
  border-left: 2px solid #8aaad9;
}

.main-nav a {
  display: inline-block;
  margin-left: 40px;
}

.main-nav a,
.main-nav a:link,
.main-nav a:visited {
  padding: 8px 0;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 90%;
  border-bottom: 2px solid transparent;
  -webkit-transition: border-bottom 0.2s;
  transition: border-bottom 0.2s;
}

.main-nav a:hover,
.main-nav a:active {
  border-bottom: 2px solid #8aaad9;
}

.main-nav-icon-close {
  position: absolute;
  top: 15px;
  right: 15px;
}

/* Mobile navi */
.mobile-nav-icon {
  float: right;
  margin-top: 40px;
  cursor: pointer;
}

.mobile-nav-icon i {
  font-size: 200%;
  color: #fff;
}

/* Sticky navi */
.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.98);
  -webkit-box-shadow: 0 2px 2px #efefef;
          box-shadow: 0 2px 2px #efefef;
  z-index: 9999;
}

.sticky .main-nav { margin-top: 18px; }

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
  padding: 16px 0;
  color: #555;
}

.sticky .logo { display: none; }
.sticky .logo-black { display: block; }

@media only screen and (max-width: 480px) {
  header {
    background-attachment: scroll;
  }
}

.glitch {
  position: relative;
}

.glitch:before, .glitch:after {
  content: 'HALLO IK BEN WILL, IK BEN EEN DEVELOPER.';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  color: #fff;
}

.glitch:before {
  left: 8px;
  text-shadow: 2px 0 #00ffea;
  -webkit-animation: effect 3s infinite linear;
}

.glitch:after {
  left: 4px;
  text-shadow: -2px 0 #fe3a7f;
  -webkit-animation: effect 2s infinite linear;
}

@-webkit-keyframes effect {
  0% {
    clip: rect(55px, 9999px, 56px, 0);
  }
  5% {
    clip: rect(47px, 9999px, 30px, 0);
  }
  10% {
    clip: rect(33px, 9999px, 36px, 0);
  }
  20% {
    clip: rect(63px, 9999px, 59px, 0);
  }
  25% {
    clip: rect(96px, 9999px, 98px, 0);
  }
  30% {
    clip: rect(48px, 9999px, 77px, 0);
  }
  35% {
    clip: rect(50px, 9999px, 34px, 0);
  }
  40% {
    clip: rect(60px, 9999px, 72px, 0);
  }
  45% {
    clip: rect(10px, 9999px, 81px, 0);
  }
  50% {
    clip: rect(2px, 9999px, 60px, 0);
  }
  55% {
    clip: rect(23px, 9999px, 89px, 0);
  }
  60% {
    clip: rect(76px, 9999px, 91px, 0);
  }
  65% {
    clip: rect(62px, 9999px, 30px, 0);
  }
  70% {
    clip: rect(60px, 9999px, 73px, 0);
  }
  75% {
    clip: rect(60px, 9999px, 87px, 0);
  }
  80% {
    clip: rect(2px, 9999px, 14px, 0);
  }
  85% {
    clip: rect(28px, 9999px, 87px, 0);
  }
  90% {
    clip: rect(73px, 9999px, 50px, 0);
  }
  95% {
    clip: rect(79px, 9999px, 70px, 0);
  }
  100% {
    clip: rect(17px, 9999px, 79px, 0);
  }
}