/* -------------------------------- */
/* CITIES */
/* -------------------------------- */

.box img {
  width: 100%;
  height: auto;
  margin-bottom: 15px;
}

.city-feature {
  margin-bottom: 5px;
}

.box .btn {
  margin-top: 20px;
}