/* -------------------------------- */
/* BASIC SETUP */
/* -------------------------------- */

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, 
body {
  overflow-x: hidden; 
  background-color: #fff;
  color: #555;
  font-family: 'Lato', 'Arial', sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
}

.clearfix {zoom: 1}
.clearfix:after {
  content: '.';
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

/* -------------------------------- */
/* REUSABLE COMPONENTS */
/* -------------------------------- */

.row {
  max-width: 1140px;
  margin: 0 auto;
}

section {
  padding: 80px 0;
}

.box {
  padding: 1%;
}

/* ----- HEADINGS -----*/

h1, 
h2, 
h3 {
  font-weight: 300;
  text-transform: uppercase;  
}

h1 {
  margin-top: 0;
  margin-bottom: 20px;
  color: #fff;
  font-size: 240%;
  word-spacing: 4px;
  letter-spacing: 1px;
}

h2 {
  font-size: 180%;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: 1px;
}

h3 {
  font-size: 110%;
  margin-bottom: 15px;
}

h2:after {
  display: block;
  height: 2px;
  background-color: #8aaad9;
  content: " ";
  width: 100px;
  margin: 0 auto;
  margin-top: 30px;
}

/* ----- PARAGRAPHS -----*/

.long-copy {
  line-height: 145%;
  width: 70%;
  margin-left: 15%;
}

.box p {
  font-size: 90%;
  line-height: 145%;
}

p {
  font-size: 90%;
  line-height: 145%;
}

/* ----- ICONS -----*/

.icon-big {
  font-size: 350%;
  display: inline-block;
  color: #8aaad9;
  margin-bottom: 10px;
}

.icon-small {
  display: inline-block;
  width: 30px;
  text-align: center;
  color: #8aaad9;
  font-size: 120%;
  margin-right: 10px;

  /* secrets to align and icons */
  line-height: 120%;
  vertical-align: middle;
  margin-top: -5px;
}

/* ----- LINKS -----*/

a:link,
a:visited {
  color: #8aaad9;
  text-decoration: none;
  padding: 1px;
  border-bottom: 1px solid #8aaad9;
  -webkit-transition: border-bottom 0.2s, color 0.2s;
  transition: border-bottom 0.2s, color 0.2s;
}

a:hover, 
a:active {
  color: #555;
  border-bottom: 1px solid transparent;
}

/* ----- BUTTONS -----*/

.btn:link,
.btn:visited,
input[type="submit"] {
  display: inline-block;
  padding: 10px 30px;
  font-weight: 300;
  text-decoration: none;
  border-radius: 200px;
  -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited,
input[type=submit] {
  background-color: #8aaad9;
  border: 1px solid #8aaad9;
  color: #fff;
  margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
  border: 1px solid #8aaad9;
  color: #8aaad9;
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
  background-color: #648ecd;
}

.btn-full:hover,
.btn-full:active {
  border: 1px solid #648ecd;
}

.btn-ghost:hover,
.btn-ghost:active {
  border: 1px solid #648ecd;
  color: #fff;
}

/* ----- Animations -----*/


.hero-text-box h1 {
  /* opacity: 0; */
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.hero-text-box h1.animated {
  opacity: 1;
}
